*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    padding: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
#book-form{
    text-align: center;
}
input{
    margin: 3px 0;
}
.alert{
    background-color: red;
    color: #ffffff;
    text-align: center;
}
.success{
    background-color: green;
    color: #ffffff;
    text-align: center;
}
h1{
    text-align: center;
}
table{
    text-align: center;
    margin-left: 2.5rem;
}
thead{
    font-size: 1.6rem;
}
td{
    font-size: 1.4rem;
}
a:link,
a:visited{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
}