*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    padding: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
#book-form{
    text-align: center;
}
input{
    margin: 3px 0;
}
h1{
    text-align: center;
}
thead{
    font-size: 1.6rem;
    border-bottom: 2px solid #000;
}
td{
    font-size: 1.4rem;
}
a:link,
a:visited{
    color: default;
}